@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?q4ktly');
    src:    url('fonts/icomoon.eot?q4ktly#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?q4ktly') format('truetype'),
        url('fonts/icomoon.woff?q4ktly') format('woff'),
        url('fonts/icomoon.svg?q4ktly#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mill:before {
    content: "\e924";
}
.icon-mill2:before {
    content: "\e925";
}
.icon-lathe:before {
    content: "\e926";
}
.icon-printer:before {
    content: "\e927";
}
.icon-pencil:before {
    content: "\e900";
}
.icon-film:before {
    content: "\e93a";
}
.icon-file-empty:before {
    content: "\e938";
}
.icon-files-empty:before {
    content: "\e939";
}
.icon-file-text2:before {
    content: "\e937";
}
.icon-folder:before {
    content: "\e901";
}
.icon-folder-open:before {
    content: "\e905";
}
.icon-folder-plus:before {
    content: "\e902";
}
.icon-folder-minus:before {
    content: "\e903";
}
.icon-folder-download:before {
    content: "\e904";
}
.icon-folder-upload:before {
    content: "\e906";
}
.icon-keyboard:before {
    content: "\e907";
}
.icon-box-add:before {
    content: "\e908";
}
.icon-box-remove:before {
    content: "\e909";
}
.icon-download:before {
    content: "\e90a";
}
.icon-upload:before {
    content: "\e90b";
}
.icon-floppy-disk:before {
    content: "\e928";
}
.icon-undo2:before {
    content: "\e929";
}
.icon-redo2:before {
    content: "\e92a";
}
.icon-spinner9:before {
    content: "\e92b";
}
.icon-spinner10:before {
    content: "\e92c";
}
.icon-cogs:before {
    content: "\e936";
}
.icon-bin:before {
    content: "\e92d";
}
.icon-bin2:before {
    content: "\e92e";
}
.icon-warning:before {
    content: "\e92f";
}
.icon-notification:before {
    content: "\e930";
}
.icon-question:before {
    content: "\e90c";
}
.icon-info:before {
    content: "\e931";
}
.icon-cancel-circle:before {
    content: "\e932";
}
.icon-cross:before {
    content: "\e90d";
}
.icon-checkmark:before {
    content: "\e90e";
}
.icon-play2:before {
    content: "\e90f";
}
.icon-pause:before {
    content: "\e910";
}
.icon-stop:before {
    content: "\e911";
}
.icon-previous:before {
    content: "\e912";
}
.icon-next:before {
    content: "\e913";
}
.icon-backward:before {
    content: "\e914";
}
.icon-forward2:before {
    content: "\e915";
}
.icon-play3:before {
    content: "\e916";
}
.icon-pause2:before {
    content: "\e917";
}
.icon-stop2:before {
    content: "\e918";
}
.icon-backward2:before {
    content: "\e919";
}
.icon-forward3:before {
    content: "\e91a";
}
.icon-first:before {
    content: "\e91b";
}
.icon-last:before {
    content: "\e91c";
}
.icon-previous2:before {
    content: "\e91d";
}
.icon-next2:before {
    content: "\e91e";
}
.icon-volume-high:before {
    content: "\e933";
}
.icon-volume-mute2:before {
    content: "\e934";
}
.icon-circle-up:before {
    content: "\e91f";
}
.icon-circle-down:before {
    content: "\e920";
}
.icon-crop:before {
    content: "\e921";
}
.icon-terminal:before {
    content: "\e922";
}
.icon-dropbox:before {
    content: "\e935";
}
.icon-codepen:before {
    content: "\e923";
}

