
body 
{
	overflow: hidden;
	padding: 0px;
	margin: 0px;
  list-style:none;
}
#topMenu
{
	z-index: 30;
	margin-top:0px;
	width: 75%;
	left: 0px;
	right: 450px;
	overflow: hidden;
	height: 45px;
	position: relative;
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#topMenu:hover
{
	height: 100px;
}
nav 
{
	top:-36px;
	position: absolute;
	margin:20px auto;
	width:100%;
    margin-bottom: 0px;
}
nav ul 
{
	list-style:none;
	padding: 0px;
}
nav > ul 
{
    margin-bottom: 0px;
	width:100%;
	background:#272822;
	position:relative;
}
nav > ul li 
{
	display:table-cell;
}
nav > ul > li:hover > ul 
{
	display:block;
	height:100%;
}
nav > ul > li > ul 
{
	display:block;
	position:absolute;
	background:#4e4c46;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	opacity: 0.95;
}
nav > ul li div 
{
	color: #dfdbd2;
	display:block;
	line-height:15px;
	padding:15px;
	position: relative;
	text-align:center;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > ul > li div:hover 
{
	background:#272822;
}
nav > ul > li > div span 
{
	background:#d14826;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-42px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > div > .icon 
{
	display:block;
	line-height:45px;
}
a
{
	text-decoration: none;
}
a:link {
    color: #dfdbd2;
}

/* visited link */
a:visited {
    color: #dfdbd2;
}
nav > ul > li > div:hover > span 
{
	top:0;
}
#editor
{
	z-index: 40;
	display: block;
	position: fixed;
	top: 0px;
	bottom:0px;
	right:0px;
	width: 25%;
	min-width: 300px;
}
#canvasContainer
{
	z-index: 10;
	position: fixed;
	top: 45px;
	bottom: 30px;
	width: 75%;
}
#bottomMenu
{
	z-index: 20;
	font-size: 15;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 75%;
	height: 15px;
	padding: 10px 0 10px 0;
	background:#272822;
	color: #dfdbd2;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#bottomMenu span
{
	padding-left: 10px;
	cursor: pointer;
}
#bottomMenu > span:hover
{
	color:#d14826;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	#editor
	{
		display: none;
	}
	#topMenu
	{
		width: 100%;
	}
	#canvasContainer
	{
		width: 100%;
	}
	#bottomMenu
	{
		width: 100%;
	}
}
#dialogBox
{
  width: 400px;
  border: 0px;
}
#dialogBox ul
{
  padding: 0px;
  list-style:none;
}
#dialogBox label 
{
  padding: 0px;
  display: block;
  margin: 10px 0px 10px 0px;
}
#dialog input
{
  display: inline;
}
.tableList
{
  display: table;
}
.tableList li
{
  width: 110px; 
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}
.tableList span
{
  font-size: 50px;
  display: block;
  padding-bottom: 10px;
}
#menuTemplates
{
	display: none;
}
.ui-widget-header
{
    background: #2F3129;
}
.ui-corner-all
{
    border-radius: 0px;
}
.ui-dialog 
{
    color: #dfdbd2;
    background: #4e4c46;
    -webkit-box-shadow: -5px 7px 29px 3px rgba(0,0,0,0.68);
    -moz-box-shadow: -5px 7px 29px 3px rgba(0,0,0,0.68);
    box-shadow: -5px 7px 29px 3px rgba(0,0,0,0.68);
}
.ui-front
{
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 16;
}
.ui-button
{

    margin-top: 10px;
    height: 30px;
    bottom: 0px;
    width: 100px;
    background: #d14826;
    color: #fff;
    border: 0px;
}
.ui-dialog-titlebar-close
{
    background: inherit;
}
.ui-dialog-titlebar-close:before
{
    font-size: 15;
    content: "x";
}
#machineIcon
{
    color: #dfdbd2;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    margin: 5px;
    font-size: 35px;
}
#gui {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    z-index: 999;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.notImplemented
{
	color: #707070;
}